ul {
    background-color: cadetblue;
    height: 70px;
    width: 600px;
    }
#definition {
        background-color: rgb(43, 226, 107);
        }
.heading {
            background-color: rgb(165, 42, 104);
            text-align: center;
        }
* {
    background-color: darkkhaki;
}
    
            

