* {
    padding: 10px;
    background-color: burlywood;
}
#sticky {
    position: sticky;
    top: 0px;
    right: 20px;
    width: 260px;
    border: 2px solid yellow ;
    opacity: 0.6;
}
#relative {
    position: relative;
    left: 31px;
    width: 260px;
    border: 3px solid blueviolet;
    opacity: 0.8;
    
}
#absolute {
    position: absolute;
    left: 56px;
    width: 260px;
    border: 3px solid salmon;
    opacity: 0.4;
}
#fixed {
    position: fixed;
    left: 200px;
    width: 260px;
    border: 2px solid brown;
    opacity: 0.9;
}
